
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>福特</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"> -->
    <!-- Link Swiper's CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel="stylesheet"  type="text/css" href="/css/swiper.min.css">
    <link href='http://at.alicdn.com/t/font_zdfcqhyvjk29y66r.css' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.3.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/menu.css" />
    <link href='/css/bootstrap.min.css' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/css/common.css">
    <!-- Demo styles -->
    <style>
    html, body {
        position: relative;
        height: 100%;
    }
    .nav a{
        text-decoration:none;
    }
    body {
        background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
        overflow-y: hidden;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color:#000;
        margin: 0;
        padding: 0;
    }
    .codrops-icon, .fa {
        color: #322930;
        font-size: 20px;
    }
    .do-content {
      margin-top: 48px;
        background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    }
    .nav-text {
        position: absolute;
        text-align: center;
        width: 100%;
        top: 0;
        line-height: 48px;
        color: #000;
        font-size: 16px;
        pointer-events: none;
    }
    .fa.add {
        float: right;
        /*display: inline-block;*/
        margin: 0.5em;
        padding: 0em 0;
        width: 1.5em;
        text-decoration: none;
        margin-top: 16px;
        display: none;
    }
    .add-box {
        padding-top: 40px;
    }
    .car-content {
        width: 100%;
        padding: 10px;
    }
    .codrops-icon, .fa {
        color: #322930;
        font-size: 20px;
    }
    .nav-text {
        position: absolute;
        z-index: 2;
        text-align: center;
        width: 100%;
        top: 0;
        line-height: 48px;
        color: #000;
        font-size: 16px;
        pointer-events: none;
    }
    .add-content {
      margin-top: 0;
      z-index: 400;
        transform: translateY(100%);
    }
    .car-content{
      margin-top: 48px;
    }
    .car-spec-content {
        transform: translateX(100%);
    }
    .do-content {
        background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
        /*display: none;*/
    }
    .swiper-container {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-slide {
        background-size: cover;
        background-position: center;
    }
    .gallery-top {
        height: 80%;
        width: 100%;
    }
    .gallery-thumbs {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
    }
    .gallery-thumbs .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
    }
    .gallery-thumbs .swiper-slide-active {
        opacity: 1;
    }
    .gallery-top{
        height: 72%;
    }
    .discount{
         position: absolute;
         height: auto;
         padding: 10px;
         filter:alpha(opacity=50);
         -moz-opacity:0.5;
         -khtml-opacity: 0.5;
         opacity: 0.5;
         background-color: #000;
         color: #fff;
         bottom: 20px;
         z-index: 22;
         width: 100%;
     }
    .num{
        position: absolute;
        height: 20px;
        line-height: 20px;
        padding-left: 10px;
        filter:alpha(opacity=50);
        -moz-opacity:0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5;
        background-color: #000;
        color: #fff;
        bottom: 0;
        z-index: 22;
        width: 100%;
    }
    .form-control{
        text-align: center;
    }
    .addp{
        position: relative;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
    }
    .add-pho-text{
      position: absolute;
      left:10px;
      color: #666;
    }
    .addpho{
        width: 80px;
    }
    #discount{
        margin-top: 15px;
    }
    #wrapper1 .swiper-slide{
      width: 320px;
      margin-right: 10px;
    }
    #wrapper2 .swiper-slide{
      margin-right: 10px;
    }
    .del{
        position: absolute;
        height: auto;
        padding-right: 5px;
        filter:alpha(opacity=50);
        -moz-opacity:0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5;
        background-color: #000;
        color: #fff;
        top: 0;
        z-index: 22;
        width: 100%;
        font-size: 20px;
        text-align: right;
    }
        body{
            position:fixed;
            height:100%;
            top:0;
            bottom:0;
            width:100%;
            overflow-y: hidden;
        }
        .nav-text-li{
          display: inline-block;
          color: #aaa;
          margin-left: 10px;
          pointer-events: auto;
        }
        .nav-text-li.active{
          color: #000;
        }
        .nav{
          position: absolute;
          z-index: 200;
          width: 100%;
          height: 48px;
          /*background-color: #b3d0f0;*/
          background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
        }
        .car-spec{
          width: 100%;
        }
    </style>
</head>
<body>
    <!-- Swiper -->
    <div class="nav">
      <a href="javascript:history.go(-1)" class="codrops-icon codrops-icon--prev"></a>
      <div class="nav-text">
        <div class="nav-text-li active">看车</div>
        <div class="nav-text-li">配置</div>
      </div>
      <a class="fa fa-plus add"></a>
    </div>
    <div class="do-content content">
        <div class="swiper-container gallery-top">
            <div class="swiper-wrapper" id="wrapper1">
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
        </div>
        <div class="swiper-container gallery-thumbs">
            <div class="swiper-wrapper" id="wrapper2">
            </div>
        </div>
    </div>
    <div class="do-content car-spec-content">
        <img src="" class="car-spec" alt="">
    </div>
    <div class="do-content add-content">
        <div class="nav">
            <a class="codrops-icon codrops-icon--prev back"></a>
            <div class="nav-text">添加图片</div>
        </div>
        <div class="car-content">
            <div class="add-box">
                <form action="" id="addForm" enctype="multipart/form-data">
                    <input type="text "  class="form-control" name="spec_id" id="spec_id" placeholder="spec_id"  style="display:none">
                    <div class="addp">
                      <input type="file"  class="form-control" name="photo" id="photo" placeholder="请添加看车图片" onchange="preview(this)" style="display:none">
                      <div class="add-pho-text">请添加看车图片：</div>
                      <img src="img/pho.png" class="addpho">
                    </div>
                    <button type="button" class="btn btn-warning mt-30 btn-block btn-create">添加</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Swiper JS -->
    <script type="text/javascript" src="/js/common.js"> </script>
    <script type="text/javascript" src="/js/swiper.min.js"></script>
    <script type="text/javascript" src="/js/swiper.js"></script>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/layer/mobile/layer.js"></script>

    <!-- Initialize Swiper -->
    <script>
        function getuser() {
            $.ajax({
                type: "GET",
                url: 'user/getUser',
                data :  {},
                dataType: "json",
                success : function(result) {
                    console.log(result);
                    if(result.code == 300){
                        window.location.href = '/login';
                    }
                    else if(result.code == 200){
                        $(".nav-text").attr("data-manage",result.data);
                        if(result.data == 'y'){
                            $(".add").show();
                        }
                        getList();
                    }
                },
                error:function(error) {
                    console.log(error);
                }
            })
        }
        getuser();
    var galleryTop = new Swiper('.gallery-top', {
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        spaceBetween: 10,
    });
    var galleryThumbs = new Swiper('.gallery-thumbs', {
        spaceBetween: 10,
        centeredSlides: true,
        slidesPerView: 'auto',
        touchRatio: 0.2,
        slideToClickedSlide: true
    });
    galleryTop.params.control = galleryThumbs;
    galleryThumbs.params.control = galleryTop;
    function doAddContent(type){
    if(type == 1){
      $(".add-content").css({
        "transform" : "translateY(0%)"
      })
    }else{
      $(".add-content").css({
        "transform" : "translateY(100%)"
      })
    }
  }

  var CAR_ALL_IMG = [];

    $(".add").on("click",function(){
      doAddContent(1);
    })

    $(".back").on("click",function(){
      doAddContent();
    })
    function preview(file) {
      console.log($(file));
      var that = file;
      console.log(file.files[0]);
        if (file.files && file.files[0]) {
            var reader = new FileReader();
            reader.onload = function(evt) {
                $(that).parent().find(".addpho").attr("src",evt.target.result);
            }
            reader.readAsDataURL(file.files[0]);
        }
    }

    $(".addpho").on("click",function(){
        $(this).parent().find("input").click();
    })
    $(".nav-text-li").on("click",function(){
      var text = $(this).text();
      $(".nav-text-li").removeClass("active");
      $(this).addClass("active");
      if(text == "配置"){
        $(".car-spec-content").css({
          "transform" : "translateX(0%)"
        })
      }else{
        $(".car-spec-content").css({
          "transform" : "translateX(100%)"
        })
      }
    })

    function getList(){
      //获取当前id
        var id = location.search.split("id=")[1];
        var del = '';
        var manage = $(".nav-text").attr("data-manage");
        if(manage == 'y'){
            del = '<div class="del">x</div>'
        }
        $("#spec_id").val(spec_id);
        $.ajax({
           type: "GET",
           url: 'carinfo/detail',
           data: {id : id},
           dataType: "json",
           success : function(result) {
               console.log(result);
               var data = result.data;
               var str = '';
               var str1 = '';
               var j;
               CAR_ALL_IMG = data.car_all_img ? data.car_all_img : CAR_ALL_IMG;
               $(".car-spec").attr("src",data.car_spec);
               for(var i = 0;i < CAR_ALL_IMG.length;i++){
                    str +='<div class="swiper-slide" data-url="'+CAR_ALL_IMG[i]+'" style="background-image:url('+CAR_ALL_IMG[i]+')" data-swiper-slide-index="'+i+'">'+del+'</div>';
                    str1 +='<div class="swiper-slide" style="background-image:url('+CAR_ALL_IMG[i]+')" data-swiper-slide-index="'+i+'"></div>';
               }
               // console.log(str);
               $("#wrapper1").append(str);
               $("#wrapper2").append(str1);
               galleryTop.update(true);
               galleryThumbs.update(true);
           },
           error : function(error){
                layer.open({
                    content: error.message
                    ,skin: 'msg'
                    ,time: 2 //2秒后自动关闭
                });
                console.log(error);
           }
       });
    }
    $(".btn-create").on("click",function(){
      var discount = $("#discount").val();
      var num  = $("#num").val();
       var url;
        layer.open({
            type: 2,
            content: '正在上传图片'
        });
       $.ajax({
           type: "POST",
           url: 'carinfo/fileup',
           cache: false,
           data: new FormData($('#addForm')[0]),
           processData: false,
           contentType: false,
           success : function(result) {
             var url = result;
             CAR_ALL_IMG.push(url);
             var id = location.search.split("id=")[1];
             var data = {
               id : id,
               car_all_img:JSON.stringify(CAR_ALL_IMG)
             }
             $.ajax({
                 type: "POST",
                 url: 'carinfo/edit',
                 data: data,
                 dataType: "json",
                 success : function(result) {
                   layer.closeAll();
                    //提示
                   layer.open({
                     content: '添加成功'
                     ,skin: 'msg'
                     ,time: 2 //2秒后自动关闭
                   });
                   window.location.reload();
                 },
               error:function(error){
                 layer.closeAll();
                 layer.open({
                     content: error.message
                     ,skin: 'msg'
                     ,time: 2 //2秒后自动关闭
                 });
                 console.log(error);
               }
             })
           },
           error:function(error){
               layer.closeAll();
                layer.open({
                    content: error.message
                    ,skin: 'msg'
                    ,time: 2 //2秒后自动关闭
                });
                console.log(error);
           }
       })
    })
    $("body").on("click",".del",function(){
      var url = $(this).parent().attr("data-url");
        layer.open({
            content: '确定删除这个图片'
            ,btn: ['删除', '取消']
            ,skin: 'footer'
            ,yes: function(index){
                layer.open({content: '正在删除'});
                Array.prototype.remove = function(b) {
                  var a = this.indexOf(b);
                  if (a >= 0) {
                  this.splice(a, 1);
                  return true;
                  }
                  return false;
                };
                CAR_ALL_IMG.remove(url);
                var id = location.search.split("id=")[1];
                var data = {
                  id : id,
                  car_all_img:JSON.stringify(CAR_ALL_IMG)
                }
                $.ajax({
                    type: "POST",
                    url: 'carinfo/edit',
                    data :  data,
                    dataType: "json",
                    success : function(result) {
                        console.log(result);
                        layer.closeAll();
                        getList();
                        //提示
                        layer.open({
                            content: '删除成功'
                            ,skin: 'msg'
                            ,time: 2 //2秒后自动关闭
                        });
                        window.location.reload();
                    },
                    error:function(error){
                        layer.open({
                            content: error.message
                            ,skin: 'msg'
                            ,time: 2 //2秒后自动关闭
                        });
                        console.log(error);
                    }
                })
            }
        });
    })
    </script>
</body>
</html>
