<!DOCTYPE HTML>
<html>
<head>
  <title>福特</title>
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <link rel="stylesheet" href="/css/swiper.min.css">
  <link rel="stylesheet" href="/css/particles.css">
  <link rel="stylesheet" href="/css/common.css">
  <link href='http://cdn.webfont.youziku.com/webfonts/nomal/11252/46865/58f1ea7bf629d80a984a61f2.css' rel='stylesheet' type='text/css' />
  <link href='http://at.alicdn.com/t/font_zdfcqhyvjk29y66r.css' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.3.0/css/font-awesome.min.css" />
  <!-- <link rel="stylesheet" type="text/css" href="/fonts/vicons/vicons-font.css" /> -->
  <link rel="stylesheet" type="text/css" href="/css/base.css" />
  <link rel="stylesheet" type="text/css" href="/css/menu.css" />
</head>
<style>
  body{
    background: #4D4D52;
  }
  .nav a{
    text-decoration:none;
  }
  .company,.nav{
    background: url("/img/bg.jpg");
    background-size: 100% 100%;
  }
  .icon-user{
    position: absolute;
    font-size: 18px;
    top:18px;
    right:20px;
    color: white;
  }
  .indro{
    width: 80%;
    max-width: 300px;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 20px;
    text-align: center;
  }
  .cir-btn{
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    /*background-image: linear-gradient(15deg, #013d5f 0%, #8dbcce 100%);*/
    background: rgba(255,255,255,0.8);
  }
  .cir-content{
    text-align: center;
    margin-top: 40%;
  }
  .cir-content .cir-btn{
    display: inline-block;
  }
  /*.nav{
    height: 100%;
    width:100%;
    background: #4D4D52;
  }*/
  .menu-wrapper{
    top:40%;
  }
  .menu-wrapper i{
    color: white;
    font-style: normal;
  }
  .conpany-content,.help-content{
    transform:translateX(100%);
  }

  .help-content{
    /*transform:translateX(-100%);*/
  }
  .back{
    font-size: 20px;
  }
  .do-title{
    padding-left: 20px;
    margin: 20px 0;
    font-size: 20px;
    color:#b5b5b5;
  }
  .do-text-content{
    padding:0 20px;
    font-size: 14px;
    color: #fffcf5;
    line-height: 26px;
  }
</style>
<body>
  <!-- <div id="particles-js"></div> -->
  <div class="swiper-container">
    <div class="do-nav">
      <div class="name cssa16253a7b2bf4">福特 &bull; 进无止境</div>
      <a><div class="iconfont icon-user"></div></a>
    </div>
    <div class="swiper-wrapper">
      <div class="swiper-slide company">
        <!-- 公司介绍 -->
        <div class="indro">
          总有一款福特，契合您的生活
        </div>
      </div>
      <div class="swiper-slide nav">
        <!-- <div class="cir-content">
          <div class="cir-btn">公司简介</div>
          <div class="cir-btn">自助服务</div>
          <div class="cir-btn">联系我们</div>
          <div class="cir-btn">帮助与支持</div>
        </div> -->
        <div class="menu-wrapper">
            <ul class="menu-items">
              <li class="menu-item">
                <button class="menu-item-button company-btn">
                  <i class="menu-item-icon">
                    公司介绍
                  </i>
                </button>
                <div class="menu-item-bounce"></div>
              </li>
              <li class="menu-item">
                <button class="menu-item-button btn-li" data-href="/list">
                  <i class="menu-item-icon">
                    自助服务
                  </i>
                </button>
                <div class="menu-item-bounce"></div>
              </li>
              <li class="menu-item">
                <button class="menu-item-button btn-li" data-href="tel:18408251157">
                  <a href="tel:18408251157">
                    <i class="menu-item-icon">
                      联系我们
                    </i>
                  </a>
                </button>
                <div class="menu-item-bounce"></div>
              </li>
              <li class="menu-item">
                <button class="menu-item-button help-btn">
                  <i class="menu-item-icon">
                    帮助与支持
                  </i>
                </button>
                <div class="menu-item-bounce"></div>
              </li>
            </ul>
            <button class="menu-toggle-button">
              <i class="fa fa-plus menu-toggle-icon"></i>
            </button>
          </div>
      </div>
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>

    <!-- 公司简介 -->
    <div class="do-content conpany-content">
      <a class="codrops-icon codrops-icon--prev back company-back"></a>
      <div class="do-box company-box">
        <div class="do-title company-title">公司简介：</div>
        <div class="do-text-content company-text-content">福特是世界著名的汽车品牌，为美国福特汽车公司旗下的众多品牌之一，公司及品牌名“福特”来源于创始人亨利·福特的姓氏。福特汽车公司是世界上最大的汽车生产商之一，成立于1903年，旗下拥有福特和林肯汽车品牌，总部位于密歇根州 迪尔伯恩市。除了制造汽车，公司还设有金融服务部门即福特信贷，主要经营购车金融、车辆租赁和汽车保险方面的业务。</div>
      </div>
    </div>

    <!-- 帮助与支持 -->
    <div class="do-content help-content">
      <a class="codrops-icon codrops-icon--prev back help-back"></a>
      <div class="do-box help-box">
        <div class="do-title help-title">帮助与支持：</div>
        <div class="do-text-content help-content">福特是世界著名的汽车品牌，为美国福特汽车公司旗下的众多品牌之一，公司及品牌名“福特”来源于创始人亨利·福特的姓氏。福特汽车公司是世界上最大的汽车生产商之一，成立于1903年，旗下拥有福特和林肯汽车品牌，总部位于密歇根州 迪尔伯恩市。除了制造汽车，公司还设有金融服务部门即福特信贷，主要经营购车金融、车辆租赁和汽车保险方面的业务。</div>
      </div>
    </div>
  </div>
  <!-- <script src="http://www.swiper.com.cn/templets/default/js/jquery-1.10.1.min.js"></script> -->
  <script src="/js/jquery-3.2.1.min.js"></script>
  <script src="/js/swiper.min.js"></script>
  <script src="/js/TweenMax.min.js"></script>
  <script src="/js/menu.js"></script>
  <script>        
  // var mySwiper = new Swiper ('.swiper-container', {
  //   direction: 'vertical',
  //   loop: true,
    
  //   // 如果需要分页器
  //   pagination: '.swiper-pagination',
    
  //   effect : 'cube',
  // })

  $(".company-btn").on("touchstart",function(){
    $(".conpany-content").css({
      "transform" : "translateX(0%)"
    })
  })

  $(".help-btn").on("touchstart",function(){
    $(".help-content").css({
      "transform" : "translateX(0%)"
    })
  })

  $(".company-back").on("click",function(){
    $(".conpany-content").css({
      "transform" : "translateX(100%)"
    })
  })

  $(".help-back").on("click",function(){
    $(".help-content").css({
      "transform" : "translateX(100%)"
    })
  })

  $(".btn-li").on("touchstart",function(){
    var href = $(this).attr("data-href");
    if(href){
      window.location.href=href;
    }
  })


  function fixPagesHeight() {
    $('.swiper-slide,.swiper-container').css({
      height: $(window).height(),
    })
  }
  $(window).on('resize', function() {
    fixPagesHeight();
  })
  fixPagesHeight();


  var mySwiper = new Swiper('.swiper-container', {

      direction: 'vertical',
    mousewheelControl: true,
    watchSlidesProgress: true,
    onInit: function(swiper) {
      swiper.myactive = 0;
      
    },
    onProgress: function(swiper) {
      for (var i = 0; i < swiper.slides.length; i++) {
        var slide = swiper.slides[i];
        var progress = slide.progress;
        var translate, boxShadow;

        translate = progress * swiper.height * 0.8;
        scale = 1 - Math.min(Math.abs(progress * 0.2), 1);
        boxShadowOpacity = 0;

        slide.style.boxShadow = '0px 0px 10px rgba(0,0,0,' + boxShadowOpacity + ')';

        if (i == swiper.myactive) {
          es = slide.style;
          es.webkitTransform = es.MsTransform = es.msTransform = es.MozTransform = es.OTransform = es.transform = 'translate3d(0,' + (translate) + 'px,0) scale(' + scale + ')';
          es.zIndex=0;


        }else{
          es = slide.style;
          es.webkitTransform = es.MsTransform = es.msTransform = es.MozTransform = es.OTransform = es.transform ='';
          es.zIndex=1;
          
        }

      }

    },


    onTransitionEnd: function(swiper, speed) {
      for (var i = 0; i < swiper.slides.length; i++) {
      //  es = swiper.slides[i].style;
      //  es.webkitTransform = es.MsTransform = es.msTransform = es.MozTransform = es.OTransform = es.transform = '';

      //  swiper.slides[i].style.zIndex = Math.abs(swiper.slides[i].progress);

        
      }

      swiper.myactive = swiper.activeIndex;

    },
    onSetTransition: function(swiper, speed) {

      for (var i = 0; i < swiper.slides.length; i++) {
        //if (i == swiper.myactive) {

          es = swiper.slides[i].style;
          es.webkitTransitionDuration = es.MsTransitionDuration = es.msTransitionDuration = es.MozTransitionDuration = es.OTransitionDuration = es.transitionDuration = speed + 'ms';
        //}
      }

    }

  });
  $(".icon-user").on("click",function () {
      window.location.href = '/mine';
  })
  function getuser() {
      $.ajax({
          type: "GET",
          url: 'user/getUser',
          data :  {},
          dataType: "json",
          success : function(result) {
              console.log(result);
              if(result.code == 300){
                  window.location.href = '/login';
              }
              else if(result.code == 200){
                  if(result.data == 'y'){
                      $(".add").show();
                  }
              }
          },
          error:function(error) {
              console.log(error);
          }
      })
  }
  getuser();
  </script>
</body>
</html>