<!DOCTYPE HTML>
<html>
<head>
  <title>福特</title>
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <link rel="stylesheet" href="/css/swiper.min.css">
  <link rel="stylesheet" href="/css/particles.css">
  <link rel="stylesheet" href="/css/common.css">
  <link href='http://cdn.webfont.youziku.com/webfonts/nomal/11252/46865/58f1ea7bf629d80a984a61f2.css' rel='stylesheet' type='text/css' />
  <link href='http://at.alicdn.com/t/font_zdfcqhyvjk29y66r.css' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.3.0/css/font-awesome.min.css" />
  <!-- <link rel="stylesheet" type="text/css" href="/fonts/vicons/vicons-font.css" /> -->
  <link rel="stylesheet" type="text/css" href="/css/base.css" />
  <link rel="stylesheet" type="text/css" href="/css/menu.css" />
</head>
<style>
  body{
    background: #eeeeef;
  }
  .car-li{
    padding:20px 10px;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.3);
    position: relative;
    border-radius: 0.1rem;
    font-size: 0.9rem;
    text-align: center;
    color: #000;
    margin-bottom: .5rem;
  }
  .car-li:visited,.car-li:active{
    background-color: #eee;
  }
  .car-content{
    width: 100%;
    box-shadow: border-box;
    padding:10px;
  }
  .codrops-icon,.fa{
    color: #322930;
    font-size: 1.2rem;
  }
  .fa.add{
    float: right;
    display: inline-block;
    margin: 0.5em;
    padding: 0em 0;
    width: 1.5em;
    text-decoration: none;
    margin-top: 0.85rem;
  }
</style>
<body>
  <div class="content">
    <div class="">
      <a href="javascript:history.go(-1)" class="codrops-icon codrops-icon--prev back"></a>
      <a class="fa fa-plus add"></a>
    </div>

    <div class="car-content">
      <div class="car-li">福克斯</div>
      <div class="car-li">福克斯</div>
      <div class="car-li">福克斯</div>
    </div>
  </div>
</body>
</html>