<!DOCTYPE HTML>
<html>
<head>
  <title>福特</title>
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <link rel="stylesheet" href="/css/swiper.min.css">

  <link rel="stylesheet" href="/css/common.css">

  <link href='/css/bootstrap.min.css' rel='stylesheet' type='text/css' />
  <link href='http://cdn.webfont.youziku.com/webfonts/nomal/11252/46865/58f1ea7bf629d80a984a61f2.css' rel='stylesheet' type='text/css' />
  <link href='http://at.alicdn.com/t/font_zdfcqhyvjk29y66r.css' rel='stylesheet' type='text/css' />
</head>
<style>
  .content{
    width: 100%;
    height: 100%;
    /*background: url("/img/bg.jpg");*/
    background-size: auto 100%;
    background-image: linear-gradient(15deg, #013d5f 0%, #8dbcce 100%);
  }
  .login-content,.signup-content{
    width: 80%;
    position: absolute;
    left:50%;
    top:30%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 20px;
    text-align: center;
     -webkit-transition: all ease 500ms;
    transition: all ease 500ms;
  }
  .login-content input,.signup-content input{
    margin: 20px 0;
  }
  .do-left{
    position: absolute;
    font-size: 14px;
    top:20px;
    right:20px;
    color: white;
  }
  .signup{
    left:150%;
  }
  .slider-content{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease 500ms;
    transition: all ease 500ms;
  }
</style>
<body>
  <div class="do-nav">
    <a href="/"><div class="name cssa16253a7b2bf4">福特 &bull; 进无止境</div></a>
    <div class="do-left">注册</div>
  </div>
  
  <div class="content">
    <div class="slider-content">
      <div class="login-content login">
        <form action="" id="loginForm">
          <input type="text" class="form-control" name="username" id="name" placeholder="用户名">
          <input type="text" class="form-control" name="password" id="password" placeholder="密码">
          <button type="button" class="btn btn-warning mt-30 btn-block btn-create">登录</button>
        </form>
      </div>
      <div class="signup-content signup">
        <form action="" id="signupForm">
          <input type="text" class="form-control" name="username" id="name" placeholder="用户名">
          <input type="text" class="form-control" name="password" id="password" placeholder="密码">
          <button type="button" class="btn btn-warning mt-30 btn-block btn-signup">注册</button>
        </form>
      </div>
    </div>
  </div>

  <script src="/js/jquery-3.2.1.min.js"></script>
  <script src="/layer/mobile/layer.js"></script>
  <script type="text/javascript" src="http://apimanage.leanapp.cn/api/link?app_id=58f369a3a0bb9f006a9e2e2a"> </script>
  <script> 

    $(".do-left").on("click",function(){
      //判断是登录还是注册
      var text = $(this).text();
      if(text == "注册"){
        //显示注册界面
        $(".slider-content").css({
          "transform" : "translateX(-100%)"
        });
        $(this).text("登录");
      }else{
        //显示登录界面
        $(".slider-content").css({
          "transform" : "translateX(-0%)"
        });
        $(this).text("注册");
      }
    })

    $(".btn-create").on("click",function(){
      layer.open({
        type: 2,
        content: '正在登录'
      });
      var data = $("#loginForm").serializeArray();
      userLogin(data).then(function(result){
          layer.closeAll();
          //提示
          layer.open({
            content: '登录成功'
            ,skin: 'msg'
            ,time: 2 //2秒后自动关闭
          });
          window.location.href = '/';
        },function(error){
          layer.closeAll();
          layer.open({
            content: error.message
            ,skin: 'msg'
            ,time: 2 //2秒后自动关闭
          });
          console.log(error);
      })
    })

    $(".btn-signup").on("click",function(){
      var data = $("#signupForm").serializeArray();
      layer.open({
        type: 2,
        content: '正在注册'
      });
      userSignup(data).then(function(result){
          layer.closeAll()
          //提示
          layer.open({
            content: '注册成功'
            ,skin: 'msg'
            ,time: 2 //2秒后自动关闭
          });
          window.location.href = '/';
        },function(error){
          layer.closeAll();
          layer.open({
            content: error.message
            ,skin: 'msg'
            ,time: 2 //2秒后自动关闭
          });
          console.log(error);
      })
    })
  </script>
</body>
</html>