
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>福特</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"> -->
    <!-- Link Swiper's CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel="stylesheet"  type="text/css" href="/css/swiper.min.css">
    <link href='http://at.alicdn.com/t/font_zdfcqhyvjk29y66r.css' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.3.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/menu.css" />
    <link href='/css/bootstrap.min.css' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/css/common.css">
    <!-- Demo styles -->
    <style>
    html, body {
        position: relative;
        height: 100%;
    }
    body {
        background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
        overflow-y: hidden;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color:#000;
        margin: 0;
        padding: 0;
    }
    .codrops-icon, .fa {
        color: #322930;
        font-size: 20px;
    }
    .do-content {
        background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    }
    .nav-text {
        position: absolute;
        text-align: center;
        width: 100%;
        top: 0;
        line-height: 48px;
        color: #000;
        font-size: 16px;
        pointer-events: none;
    }
    .fa.add {
        float: right;
        /*display: inline-block;*/
        margin: 0.5em;
        padding: 0em 0;
        width: 1.5em;
        text-decoration: none;
        margin-top: 16px;
        display: none;
    }
    .add-box {
        padding-top: 40px;
    }
    .car-content {
        width: 100%;
        padding: 10px;
    }
    .codrops-icon, .fa {
        color: #322930;
        font-size: 20px;
    }
    .nav-text {
        position: absolute;
        text-align: center;
        width: 100%;
        top: 0;
        line-height: 48px;
        color: #000;
        font-size: 16px;
        pointer-events: none;
    }
    .add-content {
        transform: translateY(100%);
    }
    .do-content {
        background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    }
    .swiper-container {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-slide {
        background-size: cover;
        background-position: center;
    }
    .gallery-top {
        height: 80%;
        width: 100%;
    }
    .gallery-thumbs {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
    }
    .gallery-thumbs .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
    }
    .gallery-thumbs .swiper-slide-active {
        opacity: 1;
    }
    .gallery-top{
        height: 72%;
    }
    .discount{
         position: absolute;
         height: auto;
         padding: 10px;
         filter:alpha(opacity=50);
         -moz-opacity:0.5;
         -khtml-opacity: 0.5;
         opacity: 0.5;
         background-color: #000;
         color: #fff;
         bottom: 20px;
         z-index: 22;
         width: 100%;
     }
    .num{
        position: absolute;
        height: 20px;
        line-height: 20px;
        padding-left: 10px;
        filter:alpha(opacity=50);
        -moz-opacity:0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5;
        background-color: #000;
        color: #fff;
        bottom: 0;
        z-index: 22;
        width: 100%;
    }
    .form-control{
        padding-left: 35%;
    }
    .addp{
        padding-left: 50%;
        margin-left: -50px;
        width: 100%;
    }
    .addpho{
        width: 100px;
    }
    #discount{
        margin-top: 15px;
    }
    #wrapper1 .swiper-slide{
      width: 320px;
      margin-right: 10px;
    }
    #wrapper2 .swiper-slide{
      margin-right: 10px;
    }
    .del{
        position: absolute;
        height: auto;
        padding-right: 5px;
        filter:alpha(opacity=50);  
        -moz-opacity:0.5;  
        -khtml-opacity: 0.5;  
        opacity: 0.5;
        background-color: #000;
        color: #fff;
        top: 0; 
        z-index: 22; 
        width: 100%;
        font-size: 20px;
        text-align: right;
        display: none;
    }
    </style>
</head>
<body>
    <!-- Swiper -->
    <div class="do-content content">
        <div class="nav">
          <a href="javascript:history.go(-1)" class="codrops-icon codrops-icon--prev"></a>
          <div class="nav-text">测试规格</div>
          <a class="fa fa-plus add"></a>
        </div>
        <div class="swiper-container gallery-top">
            <div class="swiper-wrapper" id="wrapper1">
              <!-- <div class="swiper-slide swiper-slide-duplicate" style="background-image: url(&quot;http://lorempixel.com/1200/1200/nature/6&quot;); width: 320px; margin-right: 10px;" data-swiper-slide-index="5">
                <div class="del">x</div>
              </div> -->
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
        </div>
        <div class="swiper-container gallery-thumbs">
            <div class="swiper-wrapper" id="wrapper2">
              <!-- <div class="swiper-slide" style="background-image: url(&quot;http://lorempixel.com/1200/1200/nature/5&quot;); width: 320px; margin-right: 10px;" data-swiper-slide-index="4"></div> -->
            </div>
        </div>
    </div>
    <div class="do-content add-content">
        <div class="nav">
            <a class="codrops-icon codrops-icon--prev back"></a>
            <div class="nav-text">添加图片</div>
        </div>

        <div class="car-content">
            <div class="add-box">
                <form action="" id="addForm" enctype="multipart/form-data">
                    <input type="file" class="form-control" name="photo" id="photo" placeholder="请添加图片" onchange="preview(this)" style="display:none">
                    <div class="addp">
                        <img src="img/pho.png" class="addpho">
                    </div> 
                    <input type="text" class="form-control" name="discount" id="discount" placeholder="请输入优惠信息">
                    <input type="text" class="form-control" name="num" id="num" placeholder="请输入车辆库存">
                    <button type="button" class="btn btn-warning mt-30 btn-block btn-create">添加</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Swiper JS -->
    <script type="text/javascript" src="http://apimanage.leanapp.cn/api/link?app_id=58f369a3a0bb9f006a9e2e2a"> </script>
    <script type="text/javascript" src="/js/swiper.min.js"></script>
    <script type="text/javascript" src="/js/swiper.js"></script>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/layer/mobile/layer.js"></script>
    
    <!-- Initialize Swiper -->
    <script>
    var galleryTop = new Swiper('.gallery-top', {
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        spaceBetween: 10,  
    });
    var galleryThumbs = new Swiper('.gallery-thumbs', {
        spaceBetween: 10,
        centeredSlides: true,
        slidesPerView: 'auto',
        touchRatio: 0.2,
        slideToClickedSlide: true
    });
    galleryTop.params.control = galleryThumbs;
    galleryThumbs.params.control = galleryTop;
    function doAddContent(type){
    if(type == 1){
      $(".add-content").css({
        "transform" : "translateY(0%)"
      })
    }else{
      $(".add-content").css({
        "transform" : "translateY(100%)"
      })
    }
  }

    $(".add").on("click",function(){
      doAddContent(1);
    })

    $(".back").on("click",function(){
      doAddContent();
    })
    function preview(file) {
      console.log(file.files[0]);
        if (file.files && file.files[0]) {
            var reader = new FileReader();
            reader.onload = function(evt) {
                $(".addpho").attr("src",evt.target.result);
            }
            reader.readAsDataURL(file.files[0]);
        }
    }

    $(".addpho").on("click",function(){
        $("#photo").click();
    })
    getList();
    function getList(){
      //获取当前id
        var spec_id = location.search.split("spec_id=")[1];
        $.ajax({
           type: "GET",
           url: 'carinfo/list',
           data: {spec_id : spec_id},
           dataType: "json",
           success : function(result) {
               console.log(result);
               var data = result.data;
               var str = '';
               var str1 = '';
               var j;
               for(var i = 0;i < data.length;i++){
                  if(data[i].spec_id == spec_id){
                    j = i+1;
                    str +='<div class="swiper-slide" data-id="'+data[i].objectId+'" style="background-image:url('+data[i].url+')" data-swiper-slide-index="'+j+'"><div class="del">x</div><div class="discount">优惠信息：'+data[i].discount+'</div><div class="num">车辆库存：'+data[i].num+'</div> </div>';
                    str1 +='<div class="swiper-slide" style="background-image:url('+data[i].url+')" data-swiper-slide-index="'+j+'"></div>';
                  }
               }
               // console.log(str);
               $("#wrapper1").append(str);
               $("#wrapper2").append(str1);
               galleryTop.update(true);
               galleryThumbs.update(true);
           },
           error : function(error){
                layer.open({
                    content: error.message
                    ,skin: 'msg'
                    ,time: 2 //2秒后自动关闭
                });
                console.log(error);
           }
       });
    }
    $(".btn-create").on("click",function(){
      var discount = $("#discount").val();
      var num  = $("#num").val();
       var url;
       $.ajax({
           type: "POST",
           url: 'carinfo/fileup',
           cache: false,
           data: new FormData($('#addForm')[0]),
           processData: false,
           contentType: false,
           success : function(result) {
               console.log(result);
               url = result;
               var data = {
                   spec_id : location.search.split("id=")[1],
                   discount : discount,
                   url : url,
                   num : num
                }
               layer.open({
                   type: 2,
                   content: '正在添加'
               });
               $.ajax({
                   type: "POST",
                   url: 'carinfo/add',
                   data: data,
                   dataType: "json",
                   success : function(result) {
                       console.log(result);
                       layer.closeAll();
                       getList();
                      //提示
                      layer.open({
                        content: '添加成功'
                        ,skin: 'msg'
                        ,time: 2 //2秒后自动关闭
                      });
                      doAddContent();
                       window.location.reload();
                   },
                   error:function(error){
                        layer.open({
                            content: error.message
                            ,skin: 'msg'
                            ,time: 2 //2秒后自动关闭
                        });
                        console.log(error);
                   }
               })
           },
           error:function(error){
                layer.open({
                    content: error.message
                    ,skin: 'msg'
                    ,time: 2 //2秒后自动关闭
                });
                console.log(error);
           }
       })
    })
    function getuser() {
        $.ajax({
            type: "GET",
            url: 'user/getUser',
            data :  {},
            dataType: "json",
            success : function(result) {
                console.log(result);
                if(result.data == 'y'){
                    $(".add").show();
                    $(".del").show();
                }
            },
            error:function(error) {
                console.log(error);
            }
        })
    }
    getuser();
    $("body").on("click",".del",function(){
      var id = $(this).parent().attr("data-id");
        layer.open({
            content: '确定删除这个车辆'
            ,btn: ['删除', '取消']
            ,skin: 'footer'
            ,yes: function(index){
                layer.open({content: '正在删除'})
                $.ajax({
                    type: "GET",
                    url: 'carinfo/delete',
                    data :  {id : id},
                    dataType: "json",
                    success : function(result) {
                        console.log(result);
                        layer.closeAll();
                        getList();
                        //提示
                        layer.open({
                            content: '删除成功'
                            ,skin: 'msg'
                            ,time: 2 //2秒后自动关闭
                        });
                        window.location.reload();
                    },
                    error:function(error){
                        layer.open({
                            content: error.message
                            ,skin: 'msg'
                            ,time: 2 //2秒后自动关闭
                        });
                        console.log(error);
                    }
                })
            }
        });
    })
    </script>
</body>
</html>
