html,body{
	height: 100%;
	width: 100%;
	padding:0;
	margin: 0;
}

.swiper-container{
	height: 100%;
}

.do-nav{
    position: absolute;
    width: 100%;
    z-index: 2;
}
.name{
    position: absolute;
    font-size: 14px;
    top:20px;
    left:20px;
    color: white;
}

.mt-10{margin-top: 10px;}
.mt-15{margin-top: 15px;}
.mt-30{margin-top: 30px;}
.do-content{
    top: 0;
    position: absolute;
    height: 100%;
    width:100%;
    /*transform:translateX(100%);*/
    z-index: 2;
    -webkit-transition: all ease 500ms;
    transition: all ease 500ms;
    background: #4D4D52;
}

.form-control{
    height: 40px;
}

.no-data{
    margin-top:30px;
    color: #8d8d8d;
    text-align: center;
    font-size: 16px;
}
